/* NAVBAR ****************************************************************/

img {
  width: 1rem;
}

h1 {
  font-size: 2rem;
}
.nav-center {
  display: flex;
  justify-content: center;

  margin: 0 auto;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3rem;
  background: transparent;
  height: 5rem;
  display: flex;
  align-items: center;
  z-index: 1;
  transition: var(--mainTransition);
}

.navbar.white {
  padding: 0;
  height: 3rem;
  background: var(--mainWhite);
  align-items: normal;
  /* border-bottom: 2px solid var(--primaryColor); */
  box-shadow: var(--lightShadow);
}

/* for poke balls in logo */
@media screen and (min-width: 800px) {
  img {
    width: 2rem;
  }

  h1 {
    font-size: 4rem;
  }

  .navbar.white {
    height: 5rem;
    align-items: center;
  }
}

.pagination-buttons {
  display: flex;
  justify-content: center;
}
.pagi-btn {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--primaryColor);
  background-color: var(--mainWhite);
  transition: var(--mainTransition);
  cursor: pointer;
}

.pagi-btn:hover {
  background-color: var(--primaryColor);
  color: var(--mainWhite);
}

/* BUTTONS *************************************************************************************8*/

.btn {
  padding: 0.5rem 1rem;
  margin: 1rem;
  margin-right: auto;
  border-radius: 2rem;
  text-transform: capitalize;
  color: var(--mainWhite);
  background-color: var(--primaryColor);
  transition: var(--mainTransition);
}

.btn:hover {
  background-color: var(--primaryLightColor);
  color: var(--mainBlack);
}

.center {
  text-align: center;
  margin: 0;
}
.mar-bottom {
  margin: 0;
  margin-bottom: 5rem;
}
/* 
====== 
Pokemon List *************************************************************************************8
======
*/

.section {
  padding-bottom: 5rem;
}
.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}
.pokemons-center {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
  /* align-items: start; */
}
@media screen and (min-width: 576px) {
  .pokemons-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}
/*
====== 
Pokemon*********************************************************************************************
======
*/

.pokemon {
  background: var(--mainWhite);
  margin-bottom: 2rem;
  box-shadow: var(--lightShadow);
  transition: all 0.3s linear;
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: var(--mainBorderRadius);
  text-transform: uppercase;
}

.pokemon:hover {
  box-shadow: var(--darkShadow);
}
.pokemon img {
  height: 20rem;
  width: 100%;
  display: block;
  object-fit: scale-down;
  border-top-left-radius: var(--mainBorderRadius);
  border-top-right-radius: var(--mainBorderRadius);
}

.resizer:hover {
  transform: scale(1.1);
  transition: all 0.3s linear;
}
.mid-section {
  padding-top: 1rem;
  text-align: center;
}
.pokemon-footer {
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  color: antiquewhite;
}

.pokemon-footer h4 {
  margin: 1rem 1rem 1rem 0;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  background-color: tomato;
}

/* SINGLE POKEMON PAGE **********************************************************************************/

.single-pokemon {
  width: var(--smallWidth);
  max-width: var(--fullWidth);
  margin: 0 auto;
  text-align: left;
}
.single-pokemon p {
  font-size: 1rem;
  font-weight: 500;
  /* display: flex;
  align-items: center; */
}

.single-pokemon img {
  height: 20rem;
  width: 100%;
  display: block;
  object-fit: scale-down;
  border-top-left-radius: var(--mainBorderRadius);
  border-top-right-radius: var(--mainBorderRadius);
}
.single-pokemon-info {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 1.5fr 0.3fr 1.5fr 0.5fr;
}
.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.margin-zero {
  margin: 0rem;
}
.capitalize {
  text-transform: capitalize;
}
.text-background {
  margin-right: 0.5rem;
  background: #ccdfe1;
  padding: 0.25rem 0.5rem;
  border-radius: var(--mainBorderRadius);
  color: black;
}

.margin-left {
  margin-left: 0.5rem;
}

@media screen and (min-width: 880px) {
  .single-pokemon {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
  }
  .single-pokemon p {
    font-size: 2rem;
    font-weight: 700;
  }
  .pading-right {
    padding-right: 12rem;
  }
}

/* LOADER ****************************************************************************/

.loader,
.loader:before,
.loader:after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: var(--primaryColor);
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
